In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

Создадим Datasets с предсказанием данных по кол-ву прослушиваний песен на портале. 
Кол-во прослушиваний считаем по уровню популярности песни(popularity_level) и возрасту песни (song_age), так же добавлен 'пустой параметр'- возраст автора (author_age)

In [93]:
n_samples = 1000

song_age  = np.random.choice(21, n_samples) + 1
popularity_level = np.random.choice(10, n_samples) + 1
author_age = np.random.choice(80, n_samples) + 10

number = (song_age * popularity_level / 2) ** 2

data = pd.DataFrame({'song_age': song_age , 'popularity_level': popularity_level, 'author_age': author_age, 'number': number})
data.head(5)

   song_age  popularity_level  author_age   number
0        10                 8          36  1600.00
1         7                 3          85   110.25
2        19                 6          72  3249.00
3         1                 3          62     2.25
4         1                 3          61     2.25

Видим большую ошибку: если обучить модель на все параметрах, включая 'пустой параметр'.

In [94]:
from sklearn.metrics import mean_absolute_error

X = data[['song_age', 'popularity_level', 'author_age']]
y = data['number']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['song_age', 'popularity_level', 'author_age']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [2.12000558e+02 4.33256203e+02 7.76142089e-02]
Bias: -3184.3807490901972
Error: 900.0281610248777

Убрав параметр author_age видим, что ошибка стала чуть меньше, но все равно остается большой

In [95]:
X = data[['song_age', 'popularity_level']]
y = data['number']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['song_age', 'popularity_level']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [211.98857767 433.25692245]
Bias: -3180.403272674511
Error: 899.9991137544871

Создадим параметр mult, который является произведением song_age и popularity_level возведенным в квадрат и обучим модель только на нем.

In [98]:
data['mult'] = (data['song_age'] * data['popularity_level'])**2
data.head(5)

   song_age  popularity_level  author_age   number   mult
0        10                 8          36  1600.00   6400
1         7                 3          85   110.25    441
2        19                 6          72  3249.00  12996
3         1                 3          62     2.25      9
4         1                 3          61     2.25      9

In [99]:
X = data[['mult']]
y = data['number']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [0.25]
Bias: 2.2737367544323206e-13
Error: 3.21332072061864e-13

Благодаря параметру mult ошибка модели стремится к нулю.