In [1]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [49]:
from sklearn.linear_model import LogisticRegression

In [50]:
data = pd.read_csv(load_boston()['filename'], skiprows=1)

In [51]:
X = data [['CRIM', 'ZN','INDUS','NOX', 'MEDV', 'LSTAT', 'CHAS', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO' ]]
del X['MEDV']

In [52]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [53]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [54]:
le.fit( data['MEDV'])

LabelEncoder()

In [55]:
y = pd.Series(data = le.transform(data['MEDV']))

In [56]:
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [57]:
model = make_pipeline(StandardScaler(), LogisticRegression(max_iter=1000))

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [59]:
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [60]:
model.score(X_train, y_train)

0.3192090395480226

In [61]:
model.score(X_test,y_test)

0.019736842105263157

In [29]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
data = pd.read_csv(load_boston()['filename'], skiprows=1)

In [31]:
X = data [['CRIM', 'ZN','INDUS','NOX', 'MEDV', 'LSTAT', 'CHAS', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO' ]]
del X['MEDV']

In [32]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [33]:
y = data['MEDV']

In [40]:
from sklearn import preprocessing
from sklearn import utils

In [41]:
lab_enc = preprocessing.LabelEncoder()
y = lab_enc.fit_transform(y)

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [68]:
dtc = DecisionTreeClassifier(max_depth=10)
dtc.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=10)

In [69]:
dtc.score(X_train, y_train)

0.4322033898305085

In [70]:
dtc.score(X_test,y_test)

0.03289473684210526