Задание 1

In [1]:
import pandas as pd
from urllib import parse

In [10]:
movies = pd.read_csv('/Users/gost1/Documents/Лекции/ml-latest-small/ratings.csv')

In [15]:
def rating(data):
    if data <= 2:
        return "низкий рейтинг"
    if data <= 4:
        return "средний рейтинг"
    if data <= 5:
        return "высокий рейтинг"

In [16]:
movies['class'] = movies['rating'].apply(rating)
movies.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

Задание 2

In [111]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [18]:
keywords = pd.read_csv('/Users/gost1/Documents/Лекции/ml-latest-small/keywords.csv')

In [107]:
def city(row):
    C = 0
    NW = 0
    FE = 0
    for k, v, in geo_data.items():
        if geo_data['Центр'][C] in row['keyword']:
            C += 1
            return 'Центр'
        if geo_data['Северо-Запад'][NW] in row['keyword']:
            NW += 1
            return 'Северо-Запад'
        if geo_data['Дальний Восток'][FE] in row['keyword']:
            FE += 1
            return 'Дальний Восток'
    return 'undefined'

In [108]:
keywords['region'] = keywords.apply(city, axis=1)

In [109]:
keywords.region.value_counts()

undefined         99462
Центр               284
Северо-Запад        211
Дальний Восток       43
Name: region, dtype: int64

In [110]:
keywords.head()

         keyword     shows   city     region
0             вк  64292779  False  undefined
1  одноклассники  63810309  False  undefined
2          порно  41747114  False  undefined
3           ютуб  39995567  False  undefined
4      вконтакте  21014195  False  undefined

Задание 3

In [2]:
movies = pd.read_csv('/Users/gost1/Desktop/movies.csv')
ratings = pd.read_csv('/Users/gost1/Desktop/ratings.csv')

In [3]:
years = []
year = 1950
while 1950 <= year <= 2010:
    years.append(str(year))
    year += 1

In [4]:
def production_year(data):
    for y in years:
        if y in data['title']:
            return y
    return '1900'

In [5]:
movies['year'] = movies.apply(production_year, axis=1)

In [6]:
general = pd.merge(movies, ratings)

In [7]:
def mean_rating(data):
    return data.rating.mean()

In [8]:
year_table = general.groupby('year').apply(mean_rating)

In [9]:
year_table.sort_values(ascending=True)

year
2000    3.356104
1997    3.415764
1996    3.426600
2003    3.444777
2005    3.448434
          ...
1951    3.983539
1954    3.994220
1952    4.000000
1972    4.011136
1957    4.014241
Length: 62, dtype: float64