Задание 1

In [1]:
import pandas as pd

In [23]:
data = pd.read_csv('ratings.csv')
movie_five_points = data[ (data['rating']== 5.0) ]
best_movie = movie_five_points['movieId'].value_counts()
best_movie.head(1)

318    153
Name: movieId, dtype: int64

Задание 2

In [65]:
data = pd.read_csv('power.csv')
data = data[(data['category']== 4) | (data['category']== 12) | (data['category']== 21)]
data = data[(data['year'] < 2011) & (data['year'] > 2004)]
data = data[(data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')]
data = data[(data['quantity'] > 0)]

In [76]:
max_quantity = data['quantity'].sum()
max_quantity

240580.0

Задание 3

In [113]:
df = pd.read_html('https://fortrader.org/quotes', match='Курс')[1]
len(df)

7

In [114]:
df

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,69.38,-0.18,-0.26,NaN
1,Нефть WTI Цены на нефть WTI,65.84,-0.08,-0.12,NaN
2,Природный газ Цена на природный газ,2.65,-0.02,-0.64,NaN
3,Кофе,132.50,-0.45,-0.34,NaN
4,Кукуруза,534.20,-3.20,-0.60,NaN
5,Соя,396.50,-7.80,-1.93,NaN
6,Хлопок,87.40,-0.95,-1.08,NaN

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Название      7 non-null      object
 1   Цена          7 non-null      float64
 2   Изменение     7 non-null      float64
 3   Изменение(%)  7 non-null      float64
 4   Обновлено     0 non-null      float64
dtypes: float64(4), object(1)
memory usage: 408.0+ bytes