Задание 1

In [ ]:
word = input("Введите слово ")
letters_word = len(word)
center_letter = letters_word // 2
if letters_word % 2 == 0:
    print(word[center_letter] + word[center_letter-1])
else:
    print(word[center_letter])

Задание 2

In [106]:
x = 1
y = 0
while x != 0:
    x = int(input("Введите число: "))
    y += x
print("Результат: ", y)

Введите число: 2
Введите число: 2
Введите число: 0
Результат:  4

Задание 3

In [164]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
boys = tuple(sorted(boys))
girls = tuple(sorted(girls))
if (len(boys)) == (len(girls)):
    print ('Идеальные пары:')
    for i, j in zip(boys, girls):
        print(i, 'и', j)
else:
    print ('Внимание, кто-то может остаться без пары!')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Задание 4

In [14]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
import numpy
print ("Средняя температура в странах: ")
for temper in countries_temperature:
    x = ((numpy.mean(temper[1])) - 32) / 1.8
    print(temper[0],'-', round(x, 1),'С')

Средняя температура в странах:
Thailand - 23.9 С
Germany - 13.8 С
Russia - 3.7 С
Poland - 12.0 С

Средняя температура в странах:
Thailand - 23.9 С
Germany - 13.8 С
Russia - 3.7 С
Poland - 12.0 С

Thailand - 74.9 С

SyntaxError: invalid syntax (<ipython-input-233-affd3201bea1>, line 4)

True

IndentationError: expected an indented block (<ipython-input-43-caa229d64f69>, line 10)