In [13]:
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise.model_selection import cross_validate
import pandas as pd
from surprise import SVD

In [29]:
movies = pd.read_csv('https://raw.githubusercontent.com/ChicagoBoothML/DATA___MovieLens___1M/master/movies.csv', encoding= 'unicode_escape')
ratings = pd.read_csv('https://raw.githubusercontent.com/ChicagoBoothML/DATA___MovieLens___1M/master/ratings.csv')

In [26]:
movies.head()

   movie_id                               movie                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [30]:
movies_with_ratings = movies.join(ratings.set_index('movie_id'), on='movie_id').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [32]:
movies_with_ratings.head()

,movie_id,movie,genres,user_id,rating,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,5.0,978824268.0
1,1,Toy Story (1995),Animation|Children's|Comedy,6.0,4.0,978237008.0
2,1,Toy Story (1995),Animation|Children's|Comedy,8.0,4.0,978233496.0
3,1,Toy Story (1995),Animation|Children's|Comedy,9.0,5.0,978225952.0
4,1,Toy Story (1995),Animation|Children's|Comedy,10.0,5.0,978226474.0

In [33]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.user_id,
    'iid': movies_with_ratings.movie,
    'rating': movies_with_ratings.rating
})

In [34]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)
algo = SVD()

In [35]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8750  0.8746  0.8731  0.8728  0.8737  0.8738  0.0008
MAE (testset)     0.6871  0.6864  0.6855  0.6861  0.6861  0.6862  0.0005
Fit time          40.02   41.11   39.14   39.19   42.89   40.47   1.40
Test time         1.62    1.69    1.30    1.74    2.08    1.69    0.25

{'test_rmse': array([0.8749879 , 0.8745769 , 0.8731213 , 0.87280152, 0.87370365]),
 'test_mae': array([0.68711099, 0.68643254, 0.6854873 , 0.68605339, 0.68607383]),
 'fit_time': (40.01573419570923,
  41.10752296447754,
  39.13894319534302,
  39.19301509857178,
  42.88756799697876),
 'test_time': (1.6202518939971924,
  1.6943418979644775,
  1.2991769313812256,
  1.737281084060669,
  2.075576066970825)}