In [1]:
import pandas as pd
import numpy as np

Задание 1

In [2]:
horse = pd.read_csv('/Users/alex/Лекции/Статистика/практика_и_дз/horse_data.csv', header=None, na_values = "?")

In [3]:
horse = horse.drop(horse.columns[[3, 4, 5, 7, 8, 9, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27]], axis=1)

In [4]:
horse.columns = ['surgery', 
'Age',
'Hospital Number',
'temperature of extremities', 
'pain',
'peristalsis',
'abdominal distension',
'outcome']

In [145]:
had_surgery = horse[(horse['surgery']== '1')]
without_surgery = horse[(horse['surgery']== '2')]

In [146]:
#видим, что больше половины лошадей сделали операцию
horse['surgery'].value_counts()

1    180
2    119
Name: surgery, dtype: int64

In [147]:
# больше половины лошадей остались живы
horse['outcome'].value_counts()

1    178
2     77
3     44
Name: outcome, dtype: int64

In [148]:
# лошадей, которым потребовались хирургическое вмешательство, погибло больше
had_surgery['outcome'].value_counts()

1    95
2    58
3    27
Name: outcome, dtype: int64

In [149]:
without_surgery['outcome'].value_counts()

1    83
2    19
3    17
Name: outcome, dtype: int64

# Работа с выбросами

In [150]:
# по условию в столбце Age может быть только 1 или 2, следовательно 9 это выбросы, 
horse['Age'].value_counts()

1    276
9     24
Name: Age, dtype: int64

In [5]:
# во всем файле нам встречаются только 1, поэтому логично заменить 9 на 1
horse['Age'] = horse['Age'].replace({9: 2})

In [152]:
q1 = horse['Hospital Number'].quantile(0.25)
q3 = horse['Hospital Number'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse[horse['Hospital Number'].between(lower_bound, upper_bound, inclusive=True)]

In [159]:
# я считаю, что номер больницы может состоять больше чем из 6 цифр, поэтому не считаю это за выбросы
pd.concat([horse, remove_outliers]).drop_duplicates(keep=False)

,surgery,Age,Hospital Number,temperature of extremities,pain,peristalsis,abdominal distension,outcome
3,1,1,5290409,4,2,4,4,2
9,2,1,5299629,1,5,3,1,1
13,2,1,5291329,1,1,3,2,2
16,1,1,5301219,3,4,4,3,2
18,1,1,5290481,1,2,3,1,1
28,1,1,5279442,NaN,NaN,NaN,NaN,2
39,1,1,5277409,NaN,NaN,NaN,NaN,2
41,2,1,5288249,NaN,NaN,NaN,NaN,1
55,1,1,5282839,3,3,3,4,2
72,1,1,5299253,NaN,NaN,NaN,NaN,2
74,1,1,5292929,NaN,NaN,NaN,NaN,2
82,1,1,5290759,3,3,4,1,1
103,1,1,5292489,1,3,3,2,1
109,1,1,5297379,3,3,3,3,2
117,2,1,5290482,3,3,4,3,3
127,1,1,5262541,3,4,4,1,1
135,1,1,5287179,3,5,1,3,2
174,2,1,518476,3,4,NaN,4,2
186,1,1,5278331,2,NaN,3,1,1
189,1,1,5299603,3,2,1,1,1
191,2,1,5287279,2,4,1,1,1
212,1,1,5294369,1,3,3,3,1
217,1,1,5279441,NaN,NaN,NaN,NaN,1
227,1,1,5289419,NaN,NaN,NaN,NaN,1
232,1,1,5262543,NaN,NaN,NaN,NaN,1
243,1,1,5281091,1,NaN,3,3,1
244,1,1,5291409,1,2,3,4,1
252,1,1,5291719,3,2,3,4,2
255,1,1,5294539,1,4,1,3,2
262,2,1,5305629,NaN,NaN,NaN,NaN,1
275,1,1,5297159,1,5,3,2,2
285,1,1,5283431,1,3,3,1,1
286,2,1,5275212,3,4,NaN,3,3
287,2,1,5305129,NaN,NaN,NaN,NaN,1

# Работа с пропусками

In [154]:
# смотрим кол-во пропусков
(horse.isna().mean() * 100).round(2)

surgery                        0.33
Age                            0.00
Hospital Number                0.00
temperature of extremities    18.67
pain                          18.33
peristalsis                   14.67
abdominal distension          18.67
outcome                        0.33
dtype: float64

In [155]:
horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    object
 1   Age                         300 non-null    int64
 2   Hospital Number             300 non-null    int64
 3   temperature of extremities  244 non-null    object
 4   pain                        245 non-null    object
 5   peristalsis                 256 non-null    object
 6   abdominal distension        244 non-null    object
 7   outcome                     299 non-null    object
dtypes: int64(2), object(6)
memory usage: 18.9+ KB

In [7]:
horse['pain'].fillna(horse['pain'].mode()[0], inplace=True)
horse['temperature of extremities'].fillna(horse['temperature of extremities'].mode()[0], inplace=True)
horse['peristalsis'].fillna(horse['peristalsis'].mode()[0], inplace=True)
horse['abdominal distension'].fillna(horse['abdominal distension'].mode()[0], inplace=True)
horse['outcome'].fillna(horse['outcome'].mode()[0], inplace=True)
horse['surgery'].fillna(horse['surgery'].mode()[0], inplace=True)

In [8]:
(horse.isna().mean() * 100).round(2)

surgery                       0.0
Age                           0.0
Hospital Number               0.0
temperature of extremities    0.0
pain                          0.0
peristalsis                   0.0
abdominal distension          0.0
outcome                       0.0
dtype: float64

In [36]:
#пареметры боли, температуру, перистальтики и вздутие живота заменем по медиане в зависимости от того жива ли осталась лошадь и было ли хирургическое вмешательство
'''horse['pain'].fillna(horse.groupby(['surgery', 'outcome'])['pain'].transform('median'), inplace=True)
horse['temperature of extremities'].fillna(horse.groupby(['surgery', 'outcome'])['temperature of extremities'].transform('median'), inplace=True)
horse['peristalsis'].fillna(horse.groupby(['surgery', 'outcome'])['peristalsis'].transform('median'), inplace=True)
horse['abdominal distension'].fillna(horse.groupby(['surgery', 'outcome'])['abdominal distension'].transform('median'), inplace=True)
'''

In [168]:
# данные осталась ли жива лошадь и была ли операция рассчитаемся по медиане остальных параметров 
'''horse['surgery'].fillna(horse.groupby(['pain', 'temperature of extremities', 'peristalsis', 'abdominal distension'])['surgery'].transform('median'), inplace=True)
horse['outcome'].fillna(horse.groupby(['pain', 'temperature of extremities', 'peristalsis', 'abdominal distension'])['outcome'].transform('median'), inplace=True)
'''